/* GLOBAL STYLES___ */
.colorbarright, .colorbarleft, .rightwrapper, .leftwrapper{
  height: 101vh!important;
  min-height: 101%!important;
}

.html, .body{
  overflow-x: hidden;
}

.wrapper{
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#896e81+0,69757a+50,666767+100 */
  background: rgb(137,110,129); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(137,110,129,1) 0%, rgba(105,117,122,1) 50%, rgba(102,103,103,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(137,110,129,1) 0%,rgba(105,117,122,1) 50%,rgba(102,103,103,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(137,110,129,1) 0%,rgba(105,117,122,1) 50%,rgba(102,103,103,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#896e81', endColorstr='#666767',GradientType=1 ); /* IE6-9 */


}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
}

h1{
  font-family: 'Passion One';
  font-size: 2.5em;
    color:black;
  /* line-height: .7; */
}
h2{
  font-family: 'Passion One';
  font-size: 2em;
  margin-bottom: 0!important;
  color:black;
    line-height: 1em;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1em;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: .7em;
}

label{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: .9em;
}

.separator{
  border-top: 1px solid black;
  min-height:10px;
}

.innercontent{
  margin-right: 18%;
  margin-left: 5%;
  padding-top: 50px;
}

@media (max-width: 600px){
  .innercontent{
    margin-right: 5%;
    margin-left: 5%;
  }
}


.row{
  margin: 0!important;
}


/* NAVIGATION */





.navbar{
  background-color: black!important;
  max-height: 50px!important;
  z-index: 12;
  padding-left: 0!important;
}


.hamburger {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  float: right;
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("../img/toggler.svg");
  position: fixed;
  right: 3%;
}

@media (min-width: 600px){
  .hamburger{
    display: none!important;
  }
}

.navbar-toggler{
  padding-right: 0!important;
}

.navbar-brand{
  margin-left:6%;
  padding-left: 0!important;
}

.navbar-brand_back{
  margin-left: 5%;
  padding-left: 0!important;
}

.exit{
  width:40px;
  position:absolute;
  top:70px;
  right:20px
}

.navbar-brand img{
  width:30%;
  height:auto;
}

.rightmenu_mobile{
  height: 100%;
  width: 0%;
  background-color: black;
  position: fixed;
  padding-top: 50px;
  z-index: 15;
  right: 0;
}

.rightmenu{
  height: 100%;
  width: 11%;
  background-color: black;
  position: fixed;
  padding-top: 50px;
  z-index: 15;
  right: 0;
}

@media (min-width: 600px) {
  .rightmenu_mobile{
    display: none;
  }
  .rightmenu{
    display: block;
  }
}

@media (max-width: 599px) {
  .rightmenu{
    display: none;
  }
  .rightmenu_mobile{
    display: block;
  }
}


.menurightitem{
  width: 60%;
  margin-left: 25%;
  margin-right: auto;
}

.menurightitem h2{
  font-size: .7em;
  font-weight: 200;
  color: white;
  text-align: center;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
}


/* COLORBARS */


/* .colorbarright{
  position: absolute;
  background-position: right;
  background-size:40%!important;
  float: right;
  background-repeat: repeat-y;
  overflow: visible;
  width: 100%;
  margin-left: 60%;
} */

.newcolorbar{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#896e81+0,69757a+50,666767+100&1+0,0+100 */
  background: -moz-linear-gradient(left,  rgba(137,110,129,1) 0%, rgba(105,117,122,0.5) 50%, rgba(102,103,103,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(137,110,129,1) 0%,rgba(105,117,122,0.5) 50%,rgba(102,103,103,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(137,110,129,1) 0%,rgba(105,117,122,0.5) 50%,rgba(102,103,103,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#896e81', endColorstr='#00666767',GradientType=1 ); /* IE6-9 */
  background-position: left;
  background-size:60%!important;
  float: left;
  background-repeat: repeat-y;
  overflow: visible;
  width: 50%;
  height:100%;
  z-index: 30;
  position:absolute;
}


.colorbarleft{
  position: absolute;
  background-position: left;
  background-size:60%!important;
  float: left;
  background-repeat: repeat-y;
  overflow: visible;
  width: 100%;
}

#colorbarleft1{
  background: url("../img/colorband/wavycolorleft1a.svg");
  background-repeat: repeat-y;
  z-index:6;
}
#colorbarleft1a{
  background: url("../img/colorband/wavycolorleft1a.svg");
  background-repeat: repeat-y;
  z-index: 6;
  top: 500px;
}


#colorbarleft2{
  background: url("../img/colorband/wavycolorleft2a.svg");
  background-repeat: repeat-y;
  z-index: 7;
}
#colorbarleft2a{
  background: url("../img/colorband/wavycolorleft2a.svg");
  background-repeat: repeat-y;
  z-index: 7;
  top: 500px;
}


#colorbarleft3{
  background: url("../img/colorband/wavycolorleft3a.svg");
  background-repeat: repeat-y;
  z-index: 10;
  position: fixed;
  min-height: 100vh!important;
  width: 8%;
}
#colorbarleft3a{
  background: url("../img/colorband/wavycolorleft3a.svg");
  background-repeat: repeat-y;
  z-index: 10;
  top: 500px;
}


#colorbarleft4{
  background: url("../img/colorband/wavycolorleft4a.svg");
  background-repeat: repeat-y;
  z-index: 11;
  position: fixed;
  min-height: 100vh!important;
  width: 8%;
}
#colorbarleft4a{
  background: url("../img/colorband/wavycolorleft4a.svg");
  background-repeat: repeat-y;
  z-index: 11;
  top: 500px;
}



#colorbarright1{
  background: url("../img/colorband/wavycolorright1a.svg");
  background-repeat: repeat-y;
  z-index: 3;
  float: right;
}
#colorbarright1a{
  background: url("../img/colorband/wavycolorright1a.svg");
  background-repeat: repeat-y;
  z-index: 3;
  top: 500px;
}

#colorbarright2{
  background: url("../img/colorband/wavycolorright2a.svg");
  background-repeat: repeat-y;
  z-index: 4;
}
#colorbarright2a{
  background: url("../img/colorband/wavycolorright2a.svg");
  background-repeat: repeat-y;
  z-index: 4;
  top: 500px;
}

#colorbarright3{
  background: url("../img/colorband/wavycolorright3a.svg");
  background-repeat: repeat-y;
  z-index: 5;
}
#colorbarright3a{
  background: url("../img/colorband/wavycolorright3a.svg");
  background-repeat: repeat-y;
  z-index: 5;
  top: 500px;
}

#colorbarright4{
  background: url("../img/colorband/wavycolorright4a.svg");
  background-repeat: repeat-y;
  z-index: 6;
}
#colorbarright4a{
  background: url("../img/colorband/wavycolorright4a.svg");
  background-repeat: repeat-y;
  z-index: 6;
  top: 500px;
}

.rightwrapper{
  width: 12%;
  float: right;
  position: relative;
}

.leftwrapper{
  width: 7%;
  float: left;
  position: relative;
}

/* INTRO  */

.introcontent{
  height: 25%;
  padding: 60px 0px 0px 10px!important;
  z-index: 1;
  position: absolute;
  width:76%;
}

.introcontent h1{
  font-size: 3em;
}


  .boxstyle{
    padding-top: 30px;
    background: white;
    border: 12px double black;
    padding: 7px;
  }


.introcontent2{
  height: 25%;
  padding: 60px 0px 0px 10px!important;
  z-index: 1;
  position: absolute;
  width:76%;
  display: none;
}

.introcontent h3{
  padding-top: 5px;
}

.introcontent h1{
  padding-top: 5px;
  line-height: .7em;
}

.introcontent2 h3{
  padding-top: 5px;
}

.introcontent2 h1{
  padding-top: 5px;
  line-height: .7em;
}


/* WORK CATEGORIES */

.workcategories{
  margin-bottom: 100px;
  margin-right: auto;
  margin-top: 280px;
  z-index: 1;
}


.workheader{
  display: inline-block;
}




@media (min-width: 600px){
  .introcontent h3{
    font-size: 1.3em;
  }
  .introcontent h4{
    font-size: 1em;
  }
  .introcontent2 h3{
    font-size: 1.3em;
  }
  .introcontent2 h4{
    font-size: 1em;
  }
}


.workitemwrappermenu{
  width: 90%;
  max-width: 150px;
  margin-top:10px;
  cursor:pointer;
}

.workitemwrapper img{
  width: 100%;
  margin-right: auto;
}

.workitem{
  padding:10px;
}

.projectimg{
  width: 40%;
  margin-bottom: 15px;
  margin-right: 10px;
}

/* work category images */
/*
#dev{
  background: url("../img/deviconcolor.svg"), url("../img/colorback.jpg");
  background-size: cover;
  background-position: center;
}

#ux{
  background-image: url("../img/uxiconcolor.svg"), url("../img/colorback.jpg");
  background-size: cover;
  background-position: center;
}

#des{
  background-image: url("../img/designiconcolor.svg"), url("../img/colorback.jpg");
  background-size: cover;
}

#games{
  background-image: url("../img/gamesiconcolor.svg"), url("../img/colorback.jpg");
  background-size: cover;
} */

#color_back{
  background-image: url("../img/colorback.jpg");
  background-size: cover;
}


.active_icon img{
  opacity: 0!important;
}

/* FOOTER */

.portfolio{
  background: white;
  z-index: 10;
  position: relative;
}

.footer{
  background-color: black;
  color: white;
  padding-left: 8%;
  padding-top: 10px;
  height: 40px;
  bottom: 0;
  position: fixed;
  z-index: 20;
  overflow: hidden;
  width: 100%;
}

.footer p{
  font-weight: 200;
  font-size: .7em;
}


.section_wrapper{
  z-index: 5;
  width: 100%;
  padding-right: 18%;
  padding-bottom: 100px;
  padding-top: 76px;
}

.bottom-section{
  margin-left: 5%;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-right: 10%;
}

}
.form-group .col-lg-4 .col-md-6{
  padding-left: 0px;
}

.heading_wrapper{
  width: 100%;
  background: black;
  padding-top: 5px;
  color: white;
  padding-right: 25%;
  height: 50px;
  padding-left: 6%;
}

.heading_wrapper h2{
  font-size: 1.8em;
  line-height: .7em;
  color: white;
  padding-top:15px;
}

.portfolio h2{
  padding-bottom:10px;
}


.section_wrapper img{
  width: 100%;
  height: auto;
}


#contactform{
  width: 100%;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 50px;
  z-index:2;
}

/* .rollout {
  position: relative;
  width: 100%;
  top: 50px;
  z-index: 0;
} */

#project_unstick{
  height: 1px;
}

.padme{
  padding-top: 126px!important;
}

.padme_page_issolated{
  padding-top: 150px;
}

#skills_table {
  width: 100%;
  height: auto;
  display: inline-block;
}

.bar_border{
  border: 1px solid black;
  /* margin-top: 2px; */
  /* margin-bottom: 2px; */
  width: 150px;
  margin-left: 20px;
  /* height: 5px; */
}

#skills_table td{
   padding: 5px;
   font-family: 'Raleway', sans-serif;
   font-size: .8em;
}


.inner_skills{
  background: black;
  width: 0%;
  color: rgba(0, 0, 0, 0);
}

#mepic{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10px;
}



.carousel{
  padding-top: 25px;
  padding-bottom: 25px;
}

.carousel-inner{
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  border: .5px solid black;
}

.carousel-inner img{
  max-height: 600px;
  width: auto;
}

.carousel-control-prev{
  background-color: black!important;
  opacity: 1!important;
  height: 10%;
  width: 10%;
  margin-top: 100px;
}

.carousel-control-next{
  background-color: black!important;
  opacity: 1!important;
  height: 10%;
  width: 10%;
  margin-top: 100px;
}

#external_page_pad{
  padding-top: 75px;
}

#TMA_invison{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#made_with_invsion img{
  padding-top: 50%;
  margin-right: 25%;
}

#tma_screen img{
  width: 50%;
  float: right;
  margin: 30px 0px;
}


#messagethanks{
  display: none;
  margin-top: 25px;
  margin-bottom: 50px;
}

.textarea label{
  display: block;
}


.btn-submit{
  background-color: black!important;
  border: none;
  float: right;
  margin-right: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#message_pad{
  padding-right: 35px!important;
}

.msgarea{
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-control{
  border-radius: 0!important;
  border: .1px solid black;
}

.form-control:focus{
  border-color: black;
  box-shadow: 5px 15px 5px #aaaaaa;
}

#center_row{
  margin-left: 20%!important;
  width: 50%;
  padding-top: 25px;
}

input {
    border: none;
    width: 250px;
    font-family: 'Raleway', sans-serif;;
    padding-top: none;
    display: inline-block;
    background:rgba(0, 0, 0, 0);
    font-weight: 300;
    font-size: 1.3em;
}

button{
  background-color: black!important;
  border: none;
  color: white;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: .9em;
  width:100px;
  border-radius: 5px;
  cursor: pointer;
}

#contact_pad{
  padding-top: 50px;
}

.margin50bottom{
  margin-bottom:50px;
}

.kill{
  display:none;
}
